/* Estilos para un contenedor principal */
.ContenedorT {
    min-height: 100%;  /* Altura mínima del 100% del viewport height */
    max-height: 100%;  /* Altura máxima del 100% del viewport height */
    width: fit-content;  /* Ancho ajustado al contenido */
    flex: 1;  /* Toma el espacio disponible en el contenedor padre */
    display: flex;  /* Contenedor de estilo flex */
    flex-direction: column;  /* Dirección de los elementos hijos en columna */
    align-self: center;  /* Alineación del contenedor en el centro respecto al eje transversal */
    padding: 30px;  /* Relleno de 30 píxeles en todos los lados del contenedor */
}

/* Estilos para contenedores de título */
.ContenedorTitulo,
.ContenedorTitulo2 {
    max-height: fit-content;  /* Altura máxima ajustada al contenido */
    width: fit-content;  /* Ancho ajustado al contenido */
    display: flex;  /* Contenedor de estilo flex */
    flex-direction: column;  /* Dirección de los elementos hijos en columna */
}

/* Estilos específicos para ContenedorTitulo */
.ContenedorTitulo {
    align-self: center;  /* Alineación del contenedor en el centro respecto al eje transversal */
}

/* Estilos para una línea */
.linea1 {
    width: 100%;  /* Ancho del 100% del contenedor padre */
    height: 2px;  /* Altura de 2 píxeles */
    background-color: #146A93;  /* Color de fondo de la línea */
    position: absolute;  /* Posición absoluta respecto al contenedor padre más cercano con posición no estática */
    bottom: 0;  /* Distancia del borde inferior al 0 del contenedor padre */
    border-radius: 10px;  /* Radio de borde de 10 píxeles */
    margin-top: 10px;  /* Margen superior de 10 píxeles */
}

/* Estilos para texto con clase .textTitulo */
.textTitulo {
    color: #146A93;  /* Color del texto en tono azul */
}

/* Estilos para contenedor con clase .contenedor */
.contenedor { /* Ancho máximo ajustado al contenido */
    min-width: fit-content;  /* Ancho mínimo ajustado al contenido */
    padding: 20px;  /* Relleno interno de 20 píxeles en todos los lados del contenedor */
    background-color: #EDEDED;  /* Color de fondo del contenedor en tono gris claro */
    border-radius: 10px;  /* Radio de borde de 10 píxeles, proporcionando esquinas redondeadas */

    /* Transiciones */
    transition-property: transform;  /* Propiedad que sufre transición */
    transition-duration: 0.5s;  /* Duración de la transición de 0.5 segundos */
    transition-timing-function: ease;  /* Función de temporización (transición suave) */
    transition-delay: 0s;  /* Retraso antes de que comience la transición */
}

/* Estilos para la clase .contenedor cuando está en estado :hover */
.contenedor:hover {
    transform: translateY(-10px);  /* Desplaza el contenedor hacia arriba 10 píxeles al pasar el ratón sobre él */
}

/* Estilos para hipervínculos (<a>) */
a {
    text-decoration: none;  /* Elimina la decoración de subrayado predeterminada en los hipervínculos */
    color: black;  /* Color del texto de los hipervínculos en negro */
}

/* Estilos para el elemento con el ID #formDiv */
#formDiv {
    display: flex;  /* Utiliza el modelo de caja flexible */
    flex: 1;  /* Distribuye el espacio disponible de manera equitativa entre los elementos hijos */
}

/* Estilos para elementos con la clase .contenedorTotalForm */
.contenedorTotalForm {
    width: 100%;  /* Ancho del 100% del contenedor padre */
    height: 100%;  /* Altura del 100% del contenedor padre */
}

/* Estilo para una línea de separación visual */
.linea1 {
    width: 100%;               /* Ancho del 100% */
    height: 2px;               /* Altura de 2 píxeles */
    background-color: #146A93; /* Color de fondo */
    position: absolute;        /* Posición absoluta en relación con el elemento padre */
    bottom: 0;                 /* Alineación en la parte inferior */
    border-radius: 10px;       /* Radio de borde para esquinas redondeadas */
    margin-top: 10px;          /* Margen superior de 10 píxeles */
}

/* Estilo para un contenedor de correo con ancho máximo ajustado al contenido */
.contenedorCorreo {
    max-width: fit-content; /* Ancho máximo ajustado al contenido */
}

/* Estilo para un contenedor de cabecera con ancho mínimo y máximo al 100% */
.contenedorCabecera {
    min-width: 100%; /* Ancho mínimo del 100% */
    max-width: 100%; /* Ancho máximo del 100% */
}

/* Estilo para un contenedor de formulario con ancho del 60% del ancho visible */
.contenedorForm {
    width: 60vw;  /* Ancho del 60% del ancho visible */
    height: 100%; /* Altura del 100% */
}

/* Estilo para el formulario con un espacio de relleno en la parte inferior */
.form1 {
    padding-bottom: 140px; /* Espacio de relleno en la parte inferior del formulario */
}

/* Estilo para los controles de formulario con borde sólido de color #1A89BD */
.form-control {
    border: #1A89BD solid 1px; /* Borde sólido con color #1A89BD y grosor de 1px */
}

/* Estilo para un contenedor de botones con ancho del 100%, altura ajustada al contenido y posición absoluta */
.contenedorBotones2 {
    width: 100%;               /* Ancho del 100% */
    min-height: fit-content;   /* Altura mínima ajustada al contenido */
    max-height: fit-content;   /* Altura máxima ajustada al contenido */
    position: absolute;        /* Posición absoluta en relación con el elemento padre */
    bottom: 0;                 /* Alineación en la parte inferior */
    left: 0;                   /* Alineación en la parte izquierda */
    display: flex;             /* Establecer como contenedor flexible */
    flex-direction: row;       /* Dirección de diseño flexible en fila */
    justify-content: center;   /* Alineación central del contenido */
}

/* Estilo para los botones con clase btn3 y btn2 */
.btn3, .btn2 {
    padding-left: 70px;         /* Espaciado interno a la izquierda */
    padding-right: 70px;        /* Espaciado interno a la derecha */
    padding-top: 10px;          /* Espaciado interno en la parte superior */
    padding-bottom: 10px;       /* Espaciado interno en la parte inferior */
    background-color: #146A93;  /* Color de fondo para btn3 */
    border: solid 0px;          /* Borde sólido con grosor 0px (sin borde) */
}

/* Estilo específico para los botones con clase btn2 */
.btn2 {
    background-color: white;    /* Color de fondo para btn2 (blanco) */
    color: black;               /* Color del texto para btn2 (negro) */
    border: solid 1px #8F8F8F;  /* Borde sólido con grosor 1px y color #8F8F8F para btn2 */
}




.contenedorForm {
    width: 60vw;
    /* Ancho del 60% del ancho visible */
    height: 100%;
    /* Altura del 100% */
}

/* Estilo para el formulario con un espacio de relleno en la parte inferior */
.form1 {
    padding-bottom: 100px;
    /* Espacio de relleno en la parte inferior del formulario */
}

/* Estilo para los controles de formulario con borde sólido de color #1A89BD */
.form-control {
    border: #1A89BD solid 1px;
    /* Borde sólido con color #1A89BD y grosor de 1px */
}

/* Estilo para el contenido del modal */
.modal-content {
    background-color: #1A89BD;
    color: white;
}

#cancelarBtn, #agregarBtn{
    width: 100%;
}