/* Estilos para la imagen con ID "imagenMarca" */
#imagenMarca {
    /* La imagen debe tener un ancho mínimo del 100% del contenedor */
    min-width: 100%;
    /* La altura mínima de la imagen debe ajustarse automáticamente al contenido */
    min-height: fit-content;
    /* La imagen debe cubrir todo el contenedor, manteniendo la relación de aspecto */
    object-fit: cover;
    /* La imagen se posiciona en la parte inferior del contenedor */
    object-position: bottom;
}

/* Estilos para el elemento con ID "encabezadoBuscador" */
#encabezadoBuscador {
    /* Borde superior de 2 píxeles de grosor y color sólido #146A93 */
    border-top: 2px solid #146A93;
    /* Borde inferior de 2 píxeles de grosor y color sólido #146A93 */
    border-bottom: 2px solid #146A93;
}

/* Estilos para un select personalizado */
.custom-select {
    position: relative;
    display: inline-block;
}

/* Estilos para el select de la imagen */
.custom-select select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    background-image: url('../../imagenes/icons/selector.svg');
    /* Ruta de tu imagen */
    background-position: right 10px center;
    /* Ajusta la posición de la imagen */
    background-repeat: no-repeat;
    background-size: 30px 30px;
    /* Ajusta el tamaño de la imagen según tus necesidades */
}

/* Estilos para el ícono de búsqueda y limpieza en el contenedor de búsqueda */
.clear-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.search-container {
    position: relative;
    width: 100%;
}

.search-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1;
    /* Asegura que el ícono esté sobre el input */
}

#buscadorInputZapatos {
    padding-right: 30px;
    /* Ajusta el espacio a la derecha del input para el ícono */
}

/* Estilos específicos para el ícono de limpieza */
.clear-icon {
    right: 10px;
    /* Ajusta la posición del icono de limpiar según tus necesidades */
    display: none;
}

/* Estilos para el input de búsqueda con ID "buscadorInputZapatos" */
#buscadorInputZapatos {
    /* El ancho del input de búsqueda será del 100% de su contenedor */
    width: 100%;
}

/* Estilos para el contenedor del filtro de encabezado */
.contendorFiltroHeader {
    /* Fondo del contenedor del filtro con color #F4F2F2 */
    background-color: #F4F2F2;
}

/* Estilos para los iconos "x" */
.x-icon,
.bi-x {
    /* Tamaño de fuente de 25px para los iconos "x" */
    font-size: 25px;
    /* El ancho de los iconos "x" será del 100% */
    width: 100%;
    /* La altura de los iconos "x" será del 100% */
    height: 100%;
    /* Color de los iconos "x" en #0D4560 */
    color: #0D4560;
}

/* Estilos para el botón del accordion extendido */
.accordion-button:not(.collapsed) {
    background-color: #E7E7E3;
    /* Cambia este valor al color que desees */
    color: #0D4560;
}

/* Estilos para el botón del accordion colapsado */
.accordion-button.collapsed {
    background-color: #E7E7E3;
    /* Cambia este valor al color que desees */
    color: #0D4560;
}

#coloresSelect {
    background-color: #F4F2F2;
}

/* Ocultar la flecha predeterminada */
#coloresSelect {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* Agregar un fondo transparente para que el icono personalizado pueda superponerse */
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="5" viewBox="0 0 10 5"><path fill="%230D4560" d="M5 5L0 0h10z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 0.9em top 50%, 0 0;
    background-size: 10px auto;
    /* Ajustar el padding para dar espacio al icono */
    padding-right: 1.5em;
}

/* Estilo para el texto seleccionado */
#coloresSelect option {
    color: #146A93;
    /* Cambia el color del texto según sea necesario */
}

/* Estilo para el icono */
#coloresSelect::-ms-expand {
    display: none;
    /* Ocultar el icono de la flecha en IE 10 y versiones anteriores */
}

.price-input {
    width: 100%;
    /* Ancho completo */
    display: flex;
    /* Elementos en línea */
    margin: 30px 0 35px;
    /* Margen superior e inferior de 30px, margen inferior de 35px */
}

.price-input .field {
    display: flex;
    /* Elementos en línea */
    width: 100%;
    /* Ancho completo */
    height: 100%;
    /* Altura completa */
    align-items: center;
    /* Alinea verticalmente los elementos */
}

.field input {
    width: 100%;
    /* Ancho completo */
    height: 100%;
    /* Altura completa */
    outline: none;
    /* Sin contorno al enfocar */
    font-size: 19px;
    /* Tamaño de fuente */
    margin-left: 6px;
    /* Margen izquierdo de 6px */
    border-radius: 5px;
    /* Bordes redondeados de 5px */
    text-align: center;
    /* Texto centrado */
    border: 3px solid #E7E7E3;
    /* Borde sólido de 3px de color #E7E7E3 */
    border-radius: 10px;
    /* Bordes redondeados de 10px */
    -moz-appearance: textfield;
    /* Estilo de apariencia de texto de Mozilla */
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    /* Elimina los botones de aumento y disminución en WebKit */
}

.price-input .separator {
    width: 130px;
    /* Ancho de 130px */
    display: flex;
    /* Elementos en línea */
    font-size: 19px;
    /* Tamaño de fuente */
    align-items: center;
    /* Alinea verticalmente los elementos */
    justify-content: center;
    /* Centra horizontalmente los elementos */
}

.slider {
    height: 5px;
    /* Altura de 5px */
    position: relative;
    /* Posición relativa */
    background: #000000;
    /* Fondo negro */
    border-radius: 5px;
    /* Bordes redondeados de 5px */
}

.slider .progress {
    height: 100%;
    /* Altura del 100% */
    left: 25%;
    /* 25% de distancia desde la izquierda */
    right: 25%;
    /* 25% de distancia desde la derecha */
    position: absolute;
    /* Posición absoluta */
    border-radius: 5px;
    /* Bordes redondeados de 5px */
    background: #0D4560;
    /* Fondo de color #0D4560 */
}

.range-input {
    position: relative;
    /* Posición relativa */
}

.range-input input {
    position: absolute;
    /* Posición absoluta */
    width: 100%;
    /* Ancho completo */
    height: 5px;
    /* Altura de 5px */
    top: -5px;
    /* 5px por encima */
    background: none;
    /* Sin fondo */
    pointer-events: none;
    /* Eventos de puntero desactivados */
    -webkit-appearance: none;
    /* Estilo de apariencia en WebKit */
    -moz-appearance: none;
    /* Estilo de apariencia en Mozilla */
}

input[type="range"]::-webkit-slider-thumb {
    height: 17px;
    /* Altura de 17px */
    width: 17px;
    /* Ancho de 17px */
    border-radius: 50%;
    /* Bordes redondeados de 50% (círculo) */
    background: #0D4560;
    /* Fondo de color #0D4560 */
    pointer-events: auto;
    /* Eventos de puntero activados */
    -webkit-appearance: none;
    /* Estilo de apariencia en WebKit */
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
    /* Sombra */
}

input[type="range"]::-moz-range-thumb {
    height: 17px;
    /* Altura de 17px */
    width: 17px;
    /* Ancho de 17px */
    border: none;
    /* Sin borde */
    border-radius: 50%;
    /* Bordes redondeados de 50% (círculo) */
    background: #0D4560;
    /* Fondo de color #0D4560 */
    pointer-events: auto;
    /* Eventos de puntero activados */
    -moz-appearance: none;
    /* Estilo de apariencia en Mozilla */
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
    /* Sombra */
}

/* Estilo para los checkboxes */
.form-check-input {
    /* Borde del checkbox */
    border: 1px solid #0D4560;
}

/* Estilos para el contenedor de tallas */
.contenedorTallas {
    /* Fondo blanco para el contenedor de tallas */
    background-color: white;
    /* Los elementos hijos se mostrarán en línea */
    display: flex;
    /* Los elementos hijos se centrarán horizontalmente */
    justify-content: center;
}

.contenedorFilaTallas {
    min-width: 100%;
    max-width: 100%;
    min-height: min-content;
    max-height: 330px;
    overflow-y: auto;
    overflow-x: hidden;
    /* Ocultar la apariencia de la barra de desplazamiento */
    scrollbar-width: none;
    /* Para Firefox */
    -ms-overflow-style: none;
    /* Para Internet Explorer y Edge */
}

/* Estilo específico para WebKit (Chrome, Safari) */
.contenedorFilaTallas::-webkit-scrollbar {
    display: none;
}

/* Estilos para los cuadrados de talla */
.cuadradoTalla {
    /* Fondo blanco para los cuadrados de talla */
    background-color: white;
    /* Color del texto en #0D4560 */
    color: #0D4560;
    /* Borde de 1px sólido en #5F5F5F */
    border: 1px solid #5F5F5F;
    /* Borde redondeado de 5px */
    border-radius: 5px;
    /* Los elementos se alinearán y justificarán al centro */
    align-items: center;
    justify-content: center;
    /* Los elementos se muestran como una fila */
    display: flex;
    /* Margen de 10px en todos los lados */
    margin: 10px;
    /* Ancho de 60px */
    width: 60px;
    /* Alto de 60px */
    height: 60px;
    /* Transición con duración de 0.3s con efecto ease-in-out */
    transition: .3s ease-in-out;
}

/* Estilos para los cuadrados de talla cuando se hace hover */
.cuadradoTalla:hover {
    /* Traslación de -5px hacia arriba en el eje Y */
    transform: translateY(-5px);
    /* Propiedad de transición solo para transformar */
    transition-property: transform;
    /* Duración de la transición de 0.5s */
    transition-duration: 0.5s;
    /* Función de temporización de la transición: ease */
    transition-timing-function: ease;
    /* Retraso de la transición: 0s */
    transition-delay: 0s;
    /* Fondo en #0D4560 al hacer hover */
    background-color: #0D4560;
    /* Color del texto en blanco al hacer hover */
    color: white;
}

.selected{
    background-color: #0D4560;
    /* Color del texto en blanco al hacer hover */
    color: white;
}

/* Estilos para el media query con ancho máximo de 575px */
@media screen and (max-width: 575px) {
    /* Estilos para el elemento con ID "imagenZapato" */
    #imagenZapato {
        /* Ancho máximo ajustado al contenido */
        max-width: fit-content;
    }
}

/* Estilos para el media query con ancho máximo de 651px */
@media screen and (max-width: 651px) {
    /* Ocultar elementos con clase "num" y "num2" y posicionarlos absolutamente */
    .num,
    .num2 {
        display: none;
        position: absolute;
    }
}


/* Estilos para dispositivos con pantalla menor o igual a 767px */
@media screen and (max-width: 1221px) {
    .custom-select select {
        width: 100%;
        font-size: 14px;
    }
}

/* Media query para pantallas con ancho máximo de 575px */
@media screen and (max-width: 575px) {
    /* Estilos para el contenedor del selector de búsqueda */
    #contenedorSelectBuscador {
        /* Cambia la disposición a columna */
        display: flex;
        flex-direction: column;
    }

    /* Estilos para el texto de "Ordenar por" dentro del contenedor del selector */
    .ordenarPor {
        /* Tamaño de fuente de 12px */
        font-size: 12px;
        /* Margen a la izquierda de 10px */
        margin-left: 10px;
    }

    /* Estilos para ocultar la imagen de fondo del selector personalizado */
    .custom-select select {
        background-image: none;
    }
}

/* Estilos para la imagen dentro del contenedor */
.image-wrapper2 img {
    /* La imagen se ajusta al 100% del ancho y alto del contenedor */
    width: 100%;
    height: 100%;
}

/* Estilos para el contenedor de la imagen */
.image-wrapper2 {
    /* Los elementos hijos se centran horizontal y verticalmente */
    display: flex;
    align-items: center;
    justify-content: center;
    /* Fondo con color #ADAFAB */
    background-color: #ADAFAB;
}

/* Estilos para la línea de imagen */
.lineImgC {
    /* Fondo con color #1591CC */
    background-color: #0D4560;
    /* Ancho del 100% */
    width: 100%;
    /* Altura de 4px */
    height: 4px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
}

.page-item {
    margin: 0 5px;
}

.page-link {
    display: block;
    padding: 10px 15px;
    color: #0D4560;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    transition: background-color 0.2s;
}

.page-link:hover {
    background-color: #e9ecef;
    text-decoration: none;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #0D4560;
    border-color: #0D4560;
}

.backNext, .num {
    list-style-type: none; /* Esto elimina el marcador */
}

.A {
    max-width: 100%;
}